@page "/clubs"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject TennisApp.Data.TennisAppContext DB
@using TennisApp.Models

<PageTitle>Clubs</PageTitle>

<div class="page-container">
    <h1>Clubs</h1>

    <p>
        <a href="clubs/create" class="btn btn-primary">Create New</a>
    </p>

    <div class="table-container">
        <QuickGrid Class="quick-grid" Items="DB.Club">
            <PropertyColumn Property="club => club.Name" Title="Name" Sortable="true" />

            <TemplateColumn Title="Actions">
                <a href="@($"clubs/edit?id={context.Id}")" class="btn btn-primary btn-sm action-button">Edit</a>
                <a href="@($"clubs/details?id={context.Id}")" class="btn btn-info btn-sm action-button">Details</a>
                <a href="@($"clubs/delete?id={context.Id}")" class="btn btn-danger btn-sm action-button">Delete</a>
            </TemplateColumn>
        </QuickGrid>
    </div>
</div>